<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dnc.buendeal">

    <application>

        <provider
            android:name="com.dnc.buendeal.utils.BndFileProviderDevCustomer"
            android:authorities="com.dnc.buendeal.customer.stage.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>
    </application>

</manifest>
